@tailwind base;
@tailwind components;
@tailwind utilities;

.answerButtons{
  padding: 4px;
  margin: 4px;
  border-radius: 0.5rem;
}

.seperator{
  width: 100%;
  padding-left: 8px;
  margin-top: 4px;
  margin-bottom: 4pm;
}